<html>
    <body>
        <h3>Realizar Venda em Farmacia</h3>
        <form action="new_venda" method="post">
            <p>Numero da Venda: <input type="text" name="num_venda"/></p>
            <p>Numero da Cedula: <input type="text" name="num_cedula"/></p>
            <p>Numero do Doente: <input type="text" name="num_doente"/></p>
            <p>Data (YYYY-MM-DD): <input type="text" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="text" name="quant"/></p>
            <p>Preco: <input type="text" name="preco"/></p>
            <p>Instituicao: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>