<html>
    <body>
        <h3>Adicionar Prescricao</h3>
        <form action="new_prescricao" method="post">
            <p>Numero da Cedula: <input type="text" name="num_cedula"/></p>
            <p>Numero do Doente: <input type="text" name="num_doente"/></p>
            <p>Data (YYYY-MM-DD): <input type="text" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="text" name="quant"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>