<html>
    <body>
        <h3>Adicionar Instituicao</h3>
        <form action="new_instituicao" method="post">
            <p>Nome da Instituicao: <input type="text" name="nome"/></p>
            <p>Tipo da instituicao: <input type="text" name="tipo"/></p>
            <p>Numero da Regiao: <input type="text" name="num_regiao"/></p>
            <p>Numero do Concelho: <input type="text" name="num_concelho"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>